* {
    border: solid 10px;
    background-color: #67729D;
}

h1 {
    text-align: center;
    background-color: #DCBFFF;
}

head {
    font-family: 'Hedvig Letters Serif', serif;
font-family: 'Playfair Display', serif;
}

.pirmais {
    height: 100px;
    background-color: #BB9CC0 ;
    border: 2px;
}

.otrais {
    height: 150px;
    background-color: #BB9CC0 ;
    border: 2px;
}

.tresais {
    height: 300px;
    background-color: #BB9CC0 ;
    border: 2px;
}

.ceturtais {
    height: 150px;
    background-color: #BB9CC0 ;
    border: 2px;
}

.btn  {
    background-color: #FFD9C0;
    border-color: transparent;
    
}

.virsrakstam {
    background-color: #DCBFFF;
}
